.header {
    display: flex;
    flex-direction: row;
}

.btn-voltar {
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    background-color: #1F1F1F;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    border: none;
    position: fixed;
    left: 20px;
    top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-voltar:hover {
    font-size: 20px;
    height: 70px;
}

.titulo {
    width: 50%;
    margin: 30px auto;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.10);
    text-align: center;
    height: 100px;
    padding-top: 30px;
}

.titulo h1 {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: #00F;
}


.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    background-color: #333533;
}

.control {
    text-align: start;
    margin: 20px 0;
    display: flex;
    background-color: #1F1F1F;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.control img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 5px 10px;

}

.control p {
    font-size: 18px;
    color: white;
    font-family: 'Press Start 2P';
    margin-left: 20px;
}