body {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escolher-tabuleiro {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

header {
    width: 100%;
    background: var(--container);
    padding: 20px 0;
    text-align: center;
    border-radius: 100px;
}

header h1 {
    font-size: 20px;
}

.tabuleiros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

 .tabuleiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 45%;
    font-size: 16px;
    text-align: center;
}

.tabuleiros img {
    width: 50%;
    background-color: #1F1F1F;
    border: 10px solid white;
    box-sizing: content-box;
}

.btn-escolher {
    padding: 10px 0;
    display: block;
    width: 100%;
    background-color: #3D73FF;
    box-shadow: 8px 8px 0px 0px #3E250D;
    font-size: 16px;
}

.btn-escolher:hover {
    background-color: #2980b9;
}



.btn-voltar {
    padding: 20px;
    border-radius: 30px;
    background-color: #1F1F1F;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    position: fixed;
    top: 30px;
    left: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-voltar:hover {
    background-color: #303030;
}