* {
    font-family: "Open Sans";
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--cor-de-fundo);
}

main {
    height: 100%;
    background: url(../images/tela_de_fundo.png);
    background-size: contain;
    background-repeat: repeat-x;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-voltar {
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    background-color: #1F1F1F;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    border: none;
    position: fixed;
    left: 20px;
    top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-voltar:hover {
    font-size: 20px;
    height: 70px;
}
/* Conteiner central */
.container {
    background-color: var(--container);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.75);
    padding: 40px;
    display: flex;
    flex-direction: column; 
}

.container--login {
    width: 550px;
    gap: 50px;
}

.container--cadastro {
    width: 800px;
    gap: 30px;
}

/* Titulo */
.titulo > h1 {
    font-family: "Press Start 2P", cursive;
    margin-bottom: 15px;
}

/* Formulário */
.formulario {
    display: flex;
    flex-direction: column;
}

.formulario--login {
    gap: 35px;
    font-size: 20px;
}

.formulario--cadastro {
    gap: 15px;
    font-size: 20px;
}

.formulario > .input-inteiro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario label {
    cursor: pointer;
}

.formulario input {
    padding: 15px;
    border-radius: 10px;
    background: var(--cor-do-input);
    font-size: 20px;
    height: 50px;
    outline: none;
    border: 1px solid var(--cor-do-input);
    transition: border 0.3s ease-in-out;
}

.formulario input:hover,
.formulario input:focus {
    border: 1px solid #F5F5F5;
}

.formulario a {
    font-size: 16px;
}

.formulario > .dois-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario > .dois-inputs > .input-metade {
    width: 49%;
    display: flex;
    flex-direction: column;

}

.btn-azul {
    background-color: var(--cor-do-botao-azul);
}

.btn-cinza {
    border: 1px solid #FFF;
    background-color: var(--container);
}

.btn {
    width: 100%;
    height: 72px;
    box-shadow: 8px 8px 0px 0px #3E250D;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.formulario--cadastro > button {
    margin-top: 20px;
}

input[readonly] {
    color: grey;
}