* {
    font-family: "Open Sans";
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--cor-de-fundo);
}

main {
    height: 100%;
    background: url(../images/tela_de_fundo.png);
    background-size: contain;
    background-repeat: repeat-x;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-voltar {
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    background-color: #1F1F1F;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    border: none;
    position: fixed;
    left: 20px;
    top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-voltar:hover {
    font-size: 20px;
    height: 70px;
}
/* Conteiner central */
.container {
    background-color: var(--container);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.75);
    padding: 40px;
    display: flex;
    flex-direction: column; 
}

.container--login {
    width: 550px;
    gap: 30px;
}

.container--cadastro {
    width: 800px;
    gap: 20px;
}

/* Titulo */
.titulo > h1 {
    font-family: "Press Start 2P", cursive;
    margin-bottom: 10px;
}

/* Formulário */
.formulario {
    display: flex;
    flex-direction: column;
}

.formulario--login {
    gap: 25px;
    font-size: 20px;
}

.formulario--cadastro {
    gap: 15px;
    font-size: 16px;
}

.formulario > .input-inteiro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario label {
    cursor: pointer;
}

.formulario input {
    padding: 15px;
    border-radius: 5px;
    background: var(--cor-do-input);
    font-size: 14px;
    height: 40px;
    outline: none;
    border: 1px solid var(--cor-do-input);
    transition: border 0.3s ease-in-out;
}

.formulario input:hover,
.formulario input:focus {
    border: 1px solid #F5F5F5;
}

.formulario a {
    font-size: 16px;
}

.formulario > .dois-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario > .dois-inputs > .input-metade {
    width: 49%;
    display: flex;
    flex-direction: column;

}

.cadastrar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-azul {
    margin-top: 15px;
    background-color: var(--cor-do-botao-azul);
}

.btn-cinza {
    border: 3px solid #FFF;
    background-color: var(--container);
}

.btn {
    display: block;
    width: 100%;
    height: 55px;
    box-shadow: 8px 8px 0px 0px #3E250D;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.formulario--cadastro > button {
    margin-top: 20px;
}

input[readonly] {
    color: grey;
}

#login-falha {
    display: none;
    color: red;
    font-size: 18px;
}

#login-sucesso {
    display: none;
    position: fixed;
    top: 40px;
    background-color: var(--container);
    
    padding: 20px 25px;
    border-radius: 5px;
    width: 330px;
    height: 100px;
    border-radius: 10px;

    animation: falling 0.5s ease-out;
}

#login-sucesso h3 {
    font-weight: 800px;
    font-size: 20px;
}

#barra-progresso {
    margin-top: 20px;
    background-color: #16db65;
    height: 5px;
    width: 0%;
}

@keyframes falling {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-height: 850px) {
    .formulario--cadastro {
        font-size: 20px;
    }

    .formulario input {
        font-size: 20px;
    }

    .btn {
        height: 60px;
    }
}

@media (max-height: 850px) {
    .formulario--cadastro {
        font-size: 18px;
    }

    .formulario input {
        font-size: 18px;
    }
}

@media (max-height: 800px) {
    .formulario--cadastro {
        font-size: 16px;
    }

    .formulario input {
        font-size: 16px;
    }
}
@media (max-height: 733px) {
    .formulario--cadastro {
        gap: 10px;
    }
    .btn {
        font-size: 16px;
        height: 50px;
    }
}