.header {
    display: flex;
    flex-direction: row;
}

.btn-voltar {
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    background-color: #1F1F1F;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    border: none;
    position: fixed;
    left: 20px;
    top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-voltar:hover {
    font-size: 20px;
    height: 70px;
}

.titulo {
    width: 50%;
    margin: 30px auto;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.10);
    text-align: center;
    height: 100px;
    padding-top: 30px;
}

.titulo h1 {
    font-family: 'Press Start 2P';
    font-size: 40px;
}

.ranking {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    border-radius: 30px;
    background: #333533;
    border: 10px solid white;
    padding: 5px;
}

.ranking th,
.ranking td {
    border: none;
    padding: 10px;
    font-family: "Press Start 2P";
    font-size: 20px;
    text-align: center;
}

.ranking th {

    color: #fff;
    border-radius: 30px;
}

.ranking tr:nth-child(even) {
    background-color: #1F1F1F
}

.usuario td {
    color: #98afff;

}