body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

/* Botão pausar */
.pause-button {
    margin-top: 20px;
    margin-right: 20px;
}

.pause-button button {
    background-color: gray;
    color: black;
    width: 56px;
    height: 56px;
    font-size: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btn-pausar {
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    background-color: #ff0000;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    border: none;
    position: fixed;
    left: 20px;
    top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Conteudo do jogo */
.game-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

/* Coluna esquerda e direita */
.logo {
    width: 100%;
}

.panels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 300px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    padding: 25px;
    background-color: #1F1F1F;
    border: 10px solid white;
    box-shadow: 0px 0px 5px 1px white;

    text-align: center;
}

.panel h2 {
    font-size: 24px;
    color: #0000FF;
}

.panel div {
    font-size: 24px;
}

#next-piece-preview {
    width: 140px;
    height: 140px;
    border: 10px solid white;
}

/* TABULEIRO */
.tetris-board {
    width: 300px;
    height: 600px;
    box-sizing: content-box;
    background: #333533;
    border: 10px solid #FFF;
}

.tetris-board img {
    width: 100%;
}